.container {
    display: flex;
    align-items: center;
    margin: 5% 0px 0px 0px;
    justify-content: space-around;
}



.shadow {
    -webkit-box-shadow:  1px 1px 30px 0px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:  1px 1px 30px 0px rgba(50, 50, 50, 0.77);
    box-shadow:  1px 1px 30px 0px rgba(50, 50, 50, 0.77);
}


.container table {
    text-align: left;
}

.container table th, td {
    padding: 15px;
    font-size: 14px;
}

.input_edit {
    max-width: 70px;
    height: 16px;
    font-size: 14px;
}

.modal_overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modal_content {
    margin: 10% auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    width: 300px;
    height: 250px;
    padding: 10px 20px 10px 20px;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.modal_body {
    width: 90%;
    height: 75%;
    margin: 0px 0px 15px 0px;
}

.modal_footer {
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 0px 0px 0px ;
}


.modal_close {
    font-size: 20px;
}

.modal_close:hover {
    cursor: pointer;
}

.input_modal {
    width: 200px;
}

.input_elems {
    display: flex;
    height: 30%;
    margin: 10px 0px;
    flex-direction: column;
}

.add {
    padding: 0px 0px 10px 15px;
}

.btn {
    width: 100px;
    min-width: 80px;
    padding: 0px 5px 5px 5px;
    height: 30px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    color: #000;
}

.btn-success {
    background-color: #198754;
    color: #fff;
}
  
.btn-primary {
    background-color: #0d6efd;
    color: #fff;
}

  .btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.plus {
    font-size: 20px;
}